{
  "parser": "babel-eslint",
  "extends": "standard",
  "plugins": [
    "babel",
    "import",
    "mocha",
    "promise"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
